@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.main {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(170deg, hsl(144, 100%, 34%), hsl(210, 96%, 36%));
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  padding: 2rem 0rem;
}

.title {
  color: white;
  padding: 1rem;
  text-align: center;
}

.label {
  padding: 1rem;
  font-size: 3rem;
  color: white;
  display: block;
  text-align: center;
}

#editor,
#preview {
  padding: 1.5rem;
  background-color: ghostwhite;
  border-radius: 10px;
  min-height: auto;
  min-height: 100vh;
}

.by {
  font-size: 1.2rem;
  color: white;
  padding: 2rem;
  text-align: center;
}

table,
td,
th {
  border: 1px solid black;
}

blockquote {
  background: lightgray;
  border-left: 10px solid gray;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}

#preview code {
  background-color: #272822;
  color: white;
  font-size: 1.1em;
}

pre {
  background-color: #272822;
}
